
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Child Maintenance</h1>
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>
      
      <h2 class="govuk-heading-m">Version 2</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="my-payments/">My Payments - PEM test</a></li>
      </ul>

      <h2 class="govuk-heading-m">UI Examples</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="ui-3-step/">UI 3 Step</a></li>
        <li><a href="case-summary/">Case summary</a></li>
        <li><a href="calc-history/">Calc History - PDF download</a></li>
        <li><a href="my-contact-details/">My Contact Details</a></li>

        <li><a href="cmg-account-header/">CMG Account Header</a></li>
        <li><a href="payments/">CMG Account Header - Payments</a></li>
        <li><a href="table-sort-pagination/">Table Sort & Pagination</a></li>
        <li><a href="socketio-example/">Socket IO</a></li>
        <li><a href="ajax/">Ajax using Axios</a></li>

      </ul>
    </div>
</div>

{% endblock %}
